@page
@model QuizzApp.Pages.Account.LoginModel
@{
}

<div class="row justify-content-center mt-5 pt-5">
    <div class="col-10 col-sm-7 col-md-4">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="UserCredential.Username" class="form-label"></label>
                <input asp-for="UserCredential.Username" type="text" class="form-control" placeholder="Your Login" />
                <span asp-validation-for="UserCredential.Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserCredential.Password" class="form-label mt-3"></label>
                <input asp-for="UserCredential.Password" type="password" class="form-control" placeholder="Your Password" />
                <span asp-validation-for="UserCredential.Password" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Login</button>
            </div>
            <div class="text-center pt-4">
                <a asp-page="/Account/Register">Create account</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
